
.btn-orange {
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 72px;
    font-size: 11px;
    height: 30px;
 

}
.card-text{
    font-size: 11px;

}

.btn-orange:hover {
    background-color: #ff6333;
}

.icon {
    
    font-size: 24px; 
    cursor: pointer;
    background-color:white;
    border: 1px solid black;

}
.text-muted{
    font-size: 11px;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
.card:hover {
    /* transform: scale(1.05); */
}
.card-img-top {
    border-radius: 10px 10px 10px 10px;
    height: 111px; 
    object-fit: cover;
}
.card-body {
    text-align: left;
}

.card-body1 {
    text-align: center;
}
.card1 {
    height: 204px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 111px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 163px !important;
}
.card1:hover {
    transform: scale(1.05);
}
.card1-img-top {
    border-radius: 10px 10px 10px 10px;
    height: 100px; 
    object-fit: cover;
}
.card1-body {
    text-align: left;  
}
.btn{
    width: 100px;
}
.card-img {
    width: 73px;
    height: 73px; 
    object-fit: cover;
}
.profile-pic {
    width: 66px;
    height: 66px;
}
.bottom{
    margin-top: 74px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.boxicon {
    top: 91px !important;
    right: 24px !important;
}


.sidebar {
  height: 100vh;
  justify-content: space-between;
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
    display: none !important;
  }
  
  /* #sidebarToggle:checked + .btn1 ~ .sidebar {
    transform: translateX(0);

  } */
  .sidebarcus:has(#sidebarToggle:checked) .sidebar {
    transform: translateX(0);
    display: flex !important;
    
  }
  

  .btn1 {
    position: fixed;
    top: 4px;
    left: 220px;
    padding: 3px 10px;
    z-index: 1;
    width: 30px;
  }
  

/* ---------------------------------------------------------- */




@media (max-width: 575px) {
    .img-fluid {
      max-height: 250px;
    }
  }
  
  @media (min-width: 576px)  {
    .img-fluid {
      max-height: 300px;
    }
  }
  
  @media (min-width: 768px)  {
    .img-fluid {
      max-height: 400px;
    }
  }
  
  @media (min-width: 1140px)  {
    .img-fluid {
      max-height: 450px;
    }
  }
  
  

  
  